/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    background-color: #000;
}

#app{
    height: 100vh;
    width: 100vw;
}

header{
    height: 80px;
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 2;
}

button{
    background-color:  rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 5px;
    padding: 0.2rem .4rem;
    color: #FFF;
}

main{
    overflow: scroll;
    height: calc(100vh - 80px);
    padding-top: 80px;
}

footer{
    justify-content: space-between;
    background-color: #222;
    height: 80px;
}

footer ul{
    list-style-type: none;
    height: 100%;
}

footer ul li{
    padding: 0 0.5rem;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.room-actions{
    flex-basis: 50%;
    height: 100%;
    justify-content: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.participant{
    position: relative;
    width: calc((100% / 7) - 8px);
    min-width: 150px;
    margin-bottom: 0.5rem;
}

div.participant-info{
    position: relative;
}

.fa-share-from-square{
    color: #4cb700;
}

.user-data{
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.1rem 0.2rem;
}

img{
    width: 100%;
}

.kill-meeting{
    background-color: #4a4a4a;
    color: red;
    padding: 1rem;
    align-items: center;
}

footer i{
    font-size: 30px;
    justify-content: center;
}

i.fa-chevron-up{
    font-size: 10px;
}

.my-devices ul li{
    justify-content: center;
}

.flexbox{
    display:flex;
}